<% @home.each {|h| x = h.last[0]  %>
   <div data-pageref="" data-contenttype="page" data-locale="en-us">
      <div class="hero-banner" style="background: rgb(255, 255, 255);">
         <div class="home-content" style="color: rgb(0, 0, 0);">
            <h1 class="hero-title"><%= x["page_components"].first["hero_banner"]["banner_title"] %></h1>
            <p class="hero-description" style="color: rgb(0, 0, 0);"><%= x["page_components"].first["hero_banner"]["banner_description"] %>
            </p>
         </div>
         <%= image_tag("#{x["page_components"].first["hero_banner"]["banner_imageConnection"]["edges"][0]["node"]["url"]}", alt: "#{x["page_components"].first["hero_banner"]["banner_imageConnection"]["edges"][0]["node"]["filename"]}") %>
      </div>
      <div class="member-main-section">
         <div class="member-head">
             <h2><%= x["page_components"][1]["section_with_buckets"]["title_h2"] %></h2>
         </div>
         <div class="mission-section">
            <div class="mission-content-top">
               <div class="mission-content-section">
                   <%= image_tag("#{x["page_components"][1]["section_with_buckets"]["buckets"][0]["iconConnection"]["edges"][0]["node"]["url"]}", alt: "#{x["page_components"][1]["section_with_buckets"]["buckets"][0]["iconConnection"]["edges"][0]["node"]["filename"]}", class: "mission-icon") %>
                  <div class="mission-section-content">
                     <h3><%= x["page_components"][1]["section_with_buckets"]["buckets"][0]["title_h3"] %></h3>
                     <div>
                        <p><%= x["page_components"][1]["section_with_buckets"]["buckets"][0]["description"] %></p>
                     </div>
                  </div>
               </div>
               <div class="mission-content-section">
                  <%= image_tag("#{x["page_components"][1]["section_with_buckets"]["buckets"][1]["iconConnection"]["edges"][0]["node"]["url"]}", alt: "#{x["page_components"][1]["section_with_buckets"]["buckets"][1]["iconConnection"]["edges"][0]["node"]["filename"]}", class: "mission-icon") %>
                  <div class="mission-section-content">
                     <h3><%= x["page_components"][1]["section_with_buckets"]["buckets"][1]["title_h3"] %></h3>
                     <div>
                        <p><%= x["page_components"][1]["section_with_buckets"]["buckets"][1]["description"] %></p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="mission-content-bottom">
               <div class="mission-content-section">
                  <%= image_tag("#{x["page_components"][1]["section_with_buckets"]["buckets"][2]["iconConnection"]["edges"][0]["node"]["url"]}", alt: "#{x["page_components"][1]["section_with_buckets"]["buckets"][2]["iconConnection"]["edges"][0]["node"]["filename"]}", class: "mission-icon") %>
                  <div class="mission-section-content">
                     <h3><%= x["page_components"][1]["section_with_buckets"]["buckets"][2]["title_h3"] %></h3>
                     <div>
                        <p><%= x["page_components"][1]["section_with_buckets"]["buckets"][2]["description"] %></p>
                     </div>
                  </div>
               </div>
               <div class="mission-content-section">
                  <%= image_tag("#{x["page_components"][1]["section_with_buckets"]["buckets"][3]["iconConnection"]["edges"][0]["node"]["url"]}", alt: "#{x["page_components"][1]["section_with_buckets"]["buckets"][3]["iconConnection"]["edges"][0]["node"]["filename"]}", class: "mission-icon") %>
                  <div class="mission-section-content">
                    <h3><%= x["page_components"][1]["section_with_buckets"]["buckets"][3]["title_h3"] %></h3>
                     <div>
                        <p><%= x["page_components"][1]["section_with_buckets"]["buckets"][3]["description"] %></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="home-advisor-section">
         <div class="home-content">
            <h2><%= x["page_components"][2]["section"]["title_h2"] %></h2>
            <p><%= x["page_components"][2]["section"]["description"] %></p>
            <a class="btn secondary-btn" href="<%= x["page_components"][2]["section"]["call_to_action"]["href"] %>"><%= x["page_components"][2]["section"]["call_to_action"]["title"] %></a>

         </div>
         <%= image_tag("#{x["page_components"][2]["section"]["imageConnection"]["edges"][0]["node"]["url"]}", alt: "#{x["page_components"][2]["section"]["imageConnection"]["edges"][0]["node"]["filename"]}" ) %>
      </div>
      <div class="about-team-section">
         <div class="team-head-section">
            <h2><%= x["page_components"][3]["our_team"]["title_h2"] %></h2>
            <p><%= x["page_components"][3]["our_team"]["description"] %></p>
         </div>
         <div class="team-content">
            <% x["page_components"][3]["our_team"]["employees"].each_with_index {|v,k| %>
               <div class="team-details">
                  <%= image_tag("#{x["page_components"][3]["our_team"]["employees"][k]["imageConnection"]["edges"][0]["node"]["url"]}", alt: "#{x["page_components"][3]["our_team"]["employees"][k]["imageConnection"]["edges"][0]["node"]["filename"]}" ) %>
                  <div class="team-details">
                     <h4><%= x["page_components"][3]["our_team"]["employees"][k]["name"] %></h4>
                     <p><%= x["page_components"][3]["our_team"]["employees"][k]["designation"] %></p>
                  </div>
               </div>
               <% } %>
         </div>
      </div>
   </div>
<% } %>  