<% @home.each {|h| x = h.last[0] %>
	
	<div data-contenttype="page" data-locale="en-us">
	<div class="hero-banner" style="background rgb(113, 92, 221);">
	  <div class="home-content" style="color rgb(255, 255, 255);">
	     <h1 class="hero-title"><%= x["page_components"][0]["hero_banner"]["banner_title"] %></h1>
	     <p class="hero-description" style="color rgb(255, 255, 255);"><%= x["page_components"][0]["hero_banner"]["banner_description"] %></p>
	     <a class="btn tertiary-btn" href="/">Read more</a>
	  </div>
	  
	  <%= image_tag("#{x["page_components"][0]["hero_banner"]["banner_imageConnection"]["edges"][0]["node"]["url"]}", alt:  "#{x["page_components"][0]["hero_banner"]["banner_imageConnection"]["edges"][0]["node"]["title"]}") %>
	</div>
	<div class="home-advisor-section">
		<%= image_tag( "#{x["page_components"][1]["section"]["imageConnection"]["edges"][0]["node"]["url"]}", alt:  "#{x["page_components"][1]["section"]["imageConnection"]["edges"][0]["node"]["title"]}") %>
	  <div class="home-content">
	     <h2><%= x["page_components"][1]["section"]["title_h2"] %></h2>
	     <p><%= x["page_components"][1]["section"]["description"] %></p>
	     <a class="btn secondary-btn" href="/<%= x["page_components"][1]["section"]["call_to_action"]["href"].sub(%r{^/+}, '')%>"><%= x["page_components"][1]["section"]["call_to_action"]["title"] %></a>
	  </div>
	</div>
	<div class="member-main-section">
	  <div class="member-head">
	     <h2><%= x["page_components"][2]["section_with_buckets"]["title_h2"] %></h2>
	     <p><%= x["page_components"][2]["section_with_buckets"]["description"] %></p>
	  </div>
	  <div class="member-section">
	  	 <% x["page_components"][2]["section_with_buckets"]["buckets"].each_with_index {|v,k| %>
	     <div class="content-section">
	        <%= image_tag( "#{x["page_components"][2]["section_with_buckets"]["buckets"][k]["iconConnection"]["edges"][0]["node"]["url"]}", alt:  "#{x["page_components"][2]["section_with_buckets"]["buckets"][k]["iconConnection"]["edges"][0]["node"]["title"]}") %>
	        <h3><%= x["page_components"][2]["section_with_buckets"]["buckets"][k]["title_h3"] %></h3>
	        <div>
	           <%= "#{x["page_components"][2]["section_with_buckets"]["buckets"][k]["description"]}"  %>
	        </div>
	        <a href="/"><%= x["page_components"][2]["section_with_buckets"]["buckets"][k]["title_h3"] %> --&gt;</a>
	     </div>
	     <% } %>
	    
	  </div>
	</div>
	<div class="community-section">
	  <div class="community-head">
	     <h2><%= x["page_components"][3]["from_blog"]["title_h2"] %></h2>
	     <a class="btn secondary-btn article-btn" href= "/<%= x["page_components"][3]["from_blog"]["view_articles"]["href"].sub(%r{^/+}, '') %>" > <%= x["page_components"][3]["from_blog"]["view_articles"]["title"] %></a>
	  </div>
	  <div class="home-featured-blogs">
	  	<% x["page_components"][3]["from_blog"]["featured_blogsConnection"]["edges"].each {|x| %>
	     <div class="featured-blog">
	        <%= image_tag("#{x["node"]["featured_imageConnection"]["edges"][0]["node"]["url"]}", alt:  "#{x["node"]["featured_imageConnection"]["edges"][0]["node"]["title"]}", class: "blog-post-img" ) %>
	        <div class="featured-content">
	           <h3><%= x["node"]["title"] %></h3>
	            <div class="blog_body" style="overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 5;       line-clamp: 2; -webkit-box-orient: vertical;">
                   <p> <%= x["node"]["body"] %> </p>
                </div>
	           <a class="btn tertiary-btn" href="/<%= x["node"]["url"].sub(%r{^/+}, '')%>">Read more --&gt;</a>
	        </div>
	     </div>
	     <% } %> 
	  </div>
	</div>
	<div class="demo-section">
		 <% x["page_components"][4]["section_with_cards"]["cards"].each_with_index {|v,k| %>

	  	<div class="cards">
	     <h3><%= x["page_components"][4]["section_with_cards"]["cards"][k]["title_h3"] %></h3>
	     <p><%= x["page_components"][4]["section_with_cards"]["cards"][k]["description"] %></p>
	     <div class="card-cta"><a class="btn primary-btn" href="/<%= x["page_components"][4]["section_with_cards"]["cards"][k]["call_to_action"]["href"].sub(%r{^/+}, '')%>" ><%= x["page_components"][4]["section_with_cards"]["cards"][k]["call_to_action"]["title"] %></a></div>
	  	</div>
	  <% } %>
	  
	</div>
	</div>
<% } %>  